.medal{
    margin-top: 30px;
}
.medal__content{
    width: 90%;
    margin: auto;
}
.medal span{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.medal .logoImage{
    width: 30px;
    height: 30px;
}
.medal__heading h2{
    font-style: italic;
    font-weight: 600;
}