.login__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

@media screen and (max-width:760px){
    .login__flex {
            flex-direction: column;
        }
}